{
  "name": "Excel actions",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "author": "Mohammad Abed-Alhaq",
  "commands": []
}